<div id="patchset_template" class="invisible">
  <div class="additional_patchset control-group">
    <label class="control-label">Patchset:</label>
    <div class="controls">
      <input required class="patchset" type="text" placeholder="62/14362/6" style="padding-right: 95px" />
      <span class="remove_patchset"><i class="icon-remove"></i></span>
    </div>
  </div>
</div>
