<div id="loading" class='invisible'>
  <h2 id="loading_text" class="white-readable center"></h2>
  <div class="hidden-phone">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="500" height="500" id="snake-classic_v3">
      <param name="quality" value="high" >
      <param name="movie" value="http://FlashGameHQ.com/images/games_3/snake-classic_v3/snake-classic_v3.swf">
      <embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://FlashGameHQ.com/images/games_3/snake-classic_v3/snake-classic_v3.swf" quality="high" name="snake-classic_v3" width="500" height="500"></embed>
    </object>
  </div>
  <div id="progress_holder" class="invisible">
    <span id="progress_info" class="label label-important invisible">This is the actions first time performed, there is no progress bar data yet...</span>
    <div class="progress progress-striped active">
      <div id="progressbar" class="bar"></div>
    </div>
  </div>
</div>
