* {
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

textarea {
  resize: none;
  width: 600px !important;
  height: 200px !important;
  margin-top: 20px !important; }

#portal_contents {
  padding-top: 15%; }
  #portal_contents #action_flags {
    width: 200px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid silver; }

#version-label {
  padding-top: 6px; }

#branches_list {
  background-color: white;
  overflow: scroll;
  height: 400px; }

#combined {
  margin-right: 20px; }

#supported_plugins {
  background-color: white;
  overflow: scroll;
  height: 400px; }
  #supported_plugins #plugins_list {
    list-style-type: none; }

#loading-img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#progressbar {
  width: 1%; }

#progress_info {
  margin-left: 35px; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; }

.right-sixty {
  margin-right: 60px; }

.footer, .push {
  height: 142px; }

.action-contents {
  width: 530px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; }

.center {
  text-align: center; }

.underline {
  text-decoration: underline; }

.pad-bottom {
  padding-bottom: 30px; }

.popup-link a {
  color: red;
  font-size: 16px; }

.white-readable {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em; }

.button-holder {
  text-align: center; }

.dropdown-menu li {
  text-align: left; }

.force-hide {
  display: none !important; }
