<div class="row">
  <span class="label label-info hidden-phone">Basic Options:</span>
  <div class="btn-group">
    <a id="basic_option_dropdown_text" class="btn dropdown-toggle span3" data-toggle="dropdown" href="#">
    What do you want to do? &#x25BE;
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="checkout">Checkout a Patchset</a></li>
      <li><a href="#" id="use_master">Use Master Branch</a></li>
    </ul>
  </div>
</div>
