!!!
%html
  %head
    %title Env Generating
    %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    = css_assets 'base'
  %body
    #generating.center.white-readable.invisible
      %h2 The Canvas environment is in the middle of being generated,
      %h2 check back in a couple of minutes
      %h3
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src => "javascripts/bpopup.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/generating.js", :type => "text/javascript"}
