<div id="multiple_patchset_contents" class="invisible action-contents">
  <form id="multiple_patchsets" method="post" class="form-horizontal">
    <div id="initial_patchset_group" class="control-group">
      <label class="control-label">Patchset:</label>
      <div class="controls">
        <input required class="patchset" type="text" placeholder="62/14362/6" />
        <button type="button" class="help_button btn">Help?</button>
        <button id="add_patchset" class="btn pull-right" type="button"><i class="icon-plus"></i></button>
      </div>
    </div>
    <span class="label label-important control-group">NOTE: patchsets will be checked out in order from first to last</span>
    <div>
      <input id="generate_environment" type="submit" value="Generate Environment" name="submit" class="btn btn-primary" />
    </div>
  </form>
</div>
