#patchset_template.invisible
  .additional_patchset.control-group
    %label.control-label Patchset:
    .controls
      %input.patchset{:placeholder => "62/14362/6", :required => "", :style => "padding-right: 95px", :type => "text"}/
      %span.remove_patchset
        %i.icon-remove
