<div id="plugins_help_pop_up" class="invisible">
  <img src="images/plugins_help_url.png" />
  <div id="supported_plugins" class="center">
    <h2 class="underline">Supported plugins for patchset checkout:</h2>
    <ul id="plugins_list">
    </ul>
  </div>
</div>
