#loading.invisible
  %h2#loading_text.white-readable.center
  #game.hidden-phone
    #progress_holder.invisible
      %span#progress_info.label.label-important.invisible This is the actions first time performed, there is no progress bar data yet...
      .progress.progress-striped.active
        #progressbar.bar
