<div id="loading" class='invisible'>
  <h2 id="loading_text" class="white-readable center"></h2>
  <div id="game" class="hidden-phone">
    <div id="progress_holder" class="invisible">
      <span id="progress_info" class="label label-important invisible">This is the actions first time performed, there is no progress bar data yet...</span>
      <div class="progress progress-striped active">
        <div id="progressbar" class="bar"></div>
      </div>
    </div>
  </div>
</div>
